[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AquaEnv"]
	path = AquaEnv
	url = https://github.com/cran/AquaEnv
[submodule "LIM"]
	path = LIM
	url = https://github.com/cran/LIM
[submodule "NetIndices"]
	path = NetIndices
	url = https://github.com/cran/NetIndices
[submodule "OceanView"]
	path = OceanView
	url = https://github.com/cran/OceanView
[submodule "ReacTran"]
	path = ReacTran
	url = https://github.com/cran/ReacTran
[submodule "bvpSolve"]
	path = bvpSolve
	url = https://github.com/cran/bvpSolve
[submodule "deTestSet"]
	path = deTestSet
	url = https://github.com/cran/deTestSet
[submodule "diagram"]
	path = diagram
	url = https://github.com/cran/diagram
[submodule "ecolMod"]
	path = ecolMod
	url = https://github.com/cran/ecolMod
[submodule "limSolve"]
	path = limSolve
	url = https://github.com/cran/limSolve
[submodule "marelac"]
	path = marelac
	url = https://github.com/cran/marelac
[submodule "plot3D"]
	path = plot3D
	url = https://github.com/cran/plot3D
[submodule "plot3Drgl"]
	path = plot3Drgl
	url = https://github.com/cran/plot3Drgl
[submodule "rootSolve"]
	path = rootSolve
	url = https://github.com/cran/rootSolve
[submodule "shape"]
	path = shape
	url = https://github.com/cran/shape
